{% extends 'studenthome.html' %}
{% block content %}
            <section id="profile" class="content-section mb-8 p-6 bg-gray-50 rounded-lg shadow-inner">
                <h2 class="text-3xl font-bold text-gray-800 mb-6 border-b-2 border-blue-400 pb-2">Student Profile</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- Profile Picture -->
                    <div class="flex flex-col items-center">
                        <img  src="{{ applications.0.student_photo.url }}" src="https://placehold.co/150x150/CCE0FF/000000?text=Student" alt="Student Profile Picture" class="w-36 h-36 rounded-full border-4 border-blue-300 shadow-md mb-4">
                    </div>
                    <!-- Personal & Academic Information -->
                    <div class="space-y-4">
                        <div>
                            <h3 class="text-xl font-semibold text-gray-700">Personal Information</h3>
                            {% for application in applications %}
                            
                                <p class="text-gray-600">  <strong>ID:</strong> <span id="profile-id"> {{ application.studentid }} </span></p>
                                <p class="text-gray-600">  <strong>Name:</strong> <span id="profile-id"> {{ application.first_name }} {{ application.last_name }}</span></p>
                                <p class="text-gray-600">  <strong>Gender:</strong> <span id="profile-name">{{ application.gender }}</span></p>
                                <p class="text-gray-600">  <strong>Qualification:</strong> <span id="profile-course">{{ application.qualification }}</span></p>
                                <p class="text-gray-600">  <strong>Email:</strong> <span id="profile-email">{{ application.email }}</span></p>
                                <p class="text-gray-600">  <strong>Phone:</strong> <span id="profile-phone">{{ application.mobile }}</span></p>
                                <p class="text-gray-600"><strong >Model Name:</strong> {{application.model_name}}</p>
                                <p class="text-gray-600"><strong >Refer by:</strong>{{application.referred_by_office}}</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
{% endblock %}