<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
    </head>
    <!--<script>
        /* understanding variables
        var:
        old keyword(used before ES6)
        Declares a function-scoped variables
        can be re-declared and re-assigned
        Hoisted and initialized with undefined
        */
       
       /*
       let:
       > intreduced in es6
       >Declared a block- scoped variable
       >can be re-assigned but not re-declared in the block
       >hoisted but not initilized*/
       
       /*
       const:
       >Declared block-scope ,constant variable
       can not re-declared or re-assigned
       */

       /*
    
       function testscope(){
       if(true){
        var a=50;
       let b=10;
       const c=55;
              console.log(b);

       }
       console.log(a);
       //console.log(c);
       }
       testscope();*/

      /*
      Declaring variables (var,let,const)
      understand the difference between var,let,and const
      task:
      Declare three variables for your name age and city by let
      Reassign age to new variable
      try to reassign a const value and note the errot
      */
     let name="adarsh";
     let age=20;
     let city="Dhone";
     console.log(name,age,city);
     age=23;
     console.log("updated age",age);
     const country="india";
     country ="usa"


    

    </script>-->
<body>
<script src="test.js">
    
</script>
</body>
</html>